.header {
  margin: 8px;
  max-width: 400px;

  &__hamburger {
    transition: $fast-transition all;

    justify-content: space-between;

    &--line {
      transition: $default-transition transform;

      width: 24px;
      height: 3px;
      background-color: theme("colors.antique-white");
      transform: rotate(0);
      transform-origin: center;
    }
  }

  &__link {
    font-style: italic;
    font-weight: bold;
    margin: 8px;
  }

  &__links {
    top: 65px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -18px;
  }
}

.dark-mode.header {
  background-color: theme("colors.antique-white");
  color: theme("colors.dark-grey");

  .header__hamburger--line {
    background-color: theme("colors.dark-grey");
  }

  .header__links {
    background-color: theme("colors.antique-white");
    color: theme("colors.dark-grey");
  }
}

.menu-active.header {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  .header__hamburger {
    justify-content: center;
  }

  .header__hamburger--line {
    &--1 {
      transform: rotate(45deg);
    }

    &--2 {
      transform: rotate(-45deg);
      margin-top: -3px;
    }
  }
}
