.night-mode-switch {
  cursor: pointer;

  &__circle {
    transition: $default-transition all;

    height: 20px;
    left: 3px;
    top: 3px;
    width: 20px;
  }

  &__container {
    transition: $default-transition all;

    background-color: theme("colors.antique-white");
    border-radius: 26px;
    height: 26px;
    width: 50px;
  }

  .dark-mode {
    &.night-mode-switch__container {
      background-color: theme("colors.dark-grey");
    }

    .night-mode-switch__circle {
      background-color: theme("colors.antique-white");
    }
  }
}
