._404 {
  height: calc(100vh - 96px);
  padding-top: 96px;

  //

  &.mounted {
    ._404__canvas__404--0 {
      transform: rotate(-14deg);
      opacity: 1;
    }

    ._404__canvas__404--1 {
      transform: rotate(30deg);
      opacity: 1;
    }

    ._404__canvas__bork {
      transform: rotate(-15deg);
      opacity: 1;
    }

    ._404__canvas__emoji {
      transform: rotate(40deg);
      opacity: 1;
    }

    ._404__canvas__error {
      transform: rotate(-30deg);
      opacity: 1;
    }

    ._404__canvas__fuck {
      transform: rotate(160deg);
      opacity: 1;
    }
  }

  //

  &__back {
    @include md {
      width: 4%;
    }

    width: 6.8055555%;
    margin-left: 76px;

    @include hoverable {
      img {
        transform: rotate(-90deg) translate3d(0, -12px, 0);
      }
    }

    //

    img {
      transition: $default-transition transform;

      transform: rotate(-90deg);

      width: 48px;
    }
  }

  &__canvas {
    padding-top: 96px;

    &__rotator {
      transition: $slow-transition opacity, $slow-transition transform;
      transition-delay: 0.4s;

      opacity: 0;
    }

    &__404--0 {
      transform: rotate(10deg);

      top: 15vh;
      left: 42.5vw;
    }

    &__404--1 {
      transform: rotate(10deg);

      bottom: 20vh;
      left: 20vw;
    }

    &__bork {
      transform: rotate(-30deg);

      top: 25vh;
      left: 2.5vw;
    }

    &__emoji {
      transform: rotate(15deg);

      top: 15vh;
      right: 15vw;
    }

    &__error {
      transform: rotate(-5deg);

      bottom: 20vh;
      right: 15vw;
    }

    &__fuck {
      transform: rotate(140deg);

      top: 40vh;
      right: 96px;
    }
  }

  &__links {
    width: 50%;
  }

  &__text {
    margin: 40px 0;
  }
}
