.contact-page {
  @include xs {
    overflow: hidden;

    .contact-page__banner {
      transform: none;
      position: relative;
    }
  }

  padding: 0;

  //

  &__sticky-background {
    transform-origin: 50% 0;
    transform: scaleY(0.5);
    background: linear-gradient(180deg, #000000 42.19%, rgba(0, 0, 0, 0) 100%);
  }

  //

  .form__field:first-child {
    margin-top: 0;
  }
}
