.inspiration-page {
  a {
    text-decoration: none;
  }

  &__loading {
    &:after {
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      -webkit-animation: ellipsis steps(4, end) 900ms infinite;
      animation: ellipsis steps(4, end) 900ms infinite;
      content: "\2026";
      width: 0px;
    }
  }

  &__item {
    text-decoration: none;

    &--elevate {
      transition: $default-transition all;

      transform: translate3d(0, 0, 0);
    }

    &__image {
      transition: $default-transition all;

      -webkit-box-shadow: 0px 0px 0px 0px rgba(34, 34, 34, 1);
      -moz-box-shadow: 0px 0px 0px 0px rgba(34, 34, 34, 1);
      box-shadow: 0px 0px 0px 0px rgba(34, 34, 34, 1);
    }

    &:hover {
      .inspiration-page__item--elevate {
        transform: translate3d(0, -4px, 0);
      }

      .inspiration-page__item__url {
        text-decoration: underline;
      }

      .inspiration-page__item__image {
        -webkit-box-shadow: 0px 2px 7px 0px rgba(34, 34, 34, 1);
        -moz-box-shadow: 0px 2px 7px 0px rgba(34, 34, 34, 1);
        box-shadow: 0px 2px 7px 0px rgba(34, 34, 34, 1);
      }
    }
  }
}

//
// Keyframes

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
