.projects-page {
  max-width: 600px;

  &__link {
    text-decoration: none;

    &:hover {
      text-decoration: none;

      .projects-page__title {
        text-decoration: underline;
      }
    }
  }
}
