.project-page {
  max-width: 600px;

  iframe {
    @include xs {
      min-height: 200px;
    }

    max-width: 600px !important;
    width: 100%;
    height: 400px;
  }

  p {
    padding: 12px 0;
  }

  &__back {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .back {
    &:hover {
      .back-arrow {
        transform: translateX(-30px);
      }
    }
  }

  .back-arrow {
    transition: $default-transition transform;

    transform: translateX(-25px);
  }
}
